@import "../styles/mixins";
.AuthForm {
  z-index: 3;
  height: 500px;
  width: 50%;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid $lightgrey;

  // background-color: white;
  // border-top: 5px solid gold;
  // border-radius: 5px;
  box-shadow: -5px 4px 12px 0px rgba(0, 0, 0, 0.12);
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    * {
      margin: 5px;
    }
    label {
      width: 10rem;
    }
  }

  @media (max-width: 400px) {
    max-width: none;
    width: 100%;
    border: none;
    box-shadow: none;

    form {
      margin: auto;
    }
  }
}
