@import "../styles/mixins";

.btn {
  padding: 0.5rem;
  margin: 2px;
  border: 0px;
  border-radius: 5px;
  box-shadow: inset 0 -0.125rem 0 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px 0 transparent;

  letter-spacing: 0.1rem;
  background-color: white;
  color: "#333333";

  cursor: pointer;

  transition: background-color color 200ms;
  &:hover {
    background-color: $btn-background;
    color: white;
  }

  &:active {
    transform: translateY(2px);
    box-shadow: inset 0 -0.125rem 0 0 rgba(0, 0, 0, 1),
      inset 0 -2px 0 1px rgba(0, 0, 0, 0.1), 0 0 3px 0 "rgba(0, 0, 0, 0.1)";
  }

  span {
    margin-right: 3px;
  }
}

.create {
  @extend .btn;
  color: $material-green;
  font-weight: bold;

  &:hover {
    background-color: $material-green;
    color: white;
  }

  svg {
    margin-left: 0.25rem;
  }
}

.edit {
  @extend .btn;

  color: $material-blue;

  &:hover {
    background-color: $material-blue;
    color: white;
  }
}

.trash {
  @extend .btn;
  color: $material-red;

  &:hover {
    background-color: $material-red;
    color: white;
  }
}

.delete {
  border: 0;
  background-color: transparent;
  color: $material-red;
  margin: 5px;

  &:hover {
    color: lighten($material-red, 30%);
  }

  &:active {
    transform: scale(0.9);
  }
}

.deleteLarge {
  height: 2rem;
  width: 2rem;

  box-shadow: $d-shadow;
  border-radius: 50%;

  background-color: lighten($material-red, 40%);
}
