@import "../styles/mixins";
.Dashboard {
  height: 100%;
  width: 100vw;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  perspective: 1000px;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.modalBackdrop {
  @include flexbox(column, flex-start);

  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 3;

  background: radial-gradient(white, rgba(0, 0, 0, 0.2));
}
