@import "../styles/mixins";
.Landing {
  height: 100%;

  // background-color: #f6f6f6;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
