@import "../styles/mixins";

.PantryItem {
  list-style: none;
  width: auto;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 5px 10px 5px;
  padding: 1rem;
  border: 1px solid $lightgrey;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  background-color: white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 200ms;
    box-sizing: border-box;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3),
      inset 0px 0px 20px rgba(0, 0, 0, 0);
    z-index: -1;
    opacity: 0;
  }

  z-index: 0;
  .name {
    margin: 0px 5px;
    text-transform: uppercase;
  }

  .queryMatch {
    background-color: transparentize($brand, 0.2);
    color: white;
  }

  .quantity {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
    top: -0.5rem;
    padding: 0.1rem;
    color: #d6bd69;
    font-size: 1.1rem;
    font-weight: bold;

    border-radius: 3px;
  }
}

.Checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  color: $material-green;
}

.highlighted {
  z-index: 3;

  // background: linear-gradient(45deg, white, $highlight-color, white);
  &::after {
    opacity: 1;
  }
}
