@import "../styles/mixins";
.PoseGroupTest {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 50vw;
}