@import "../styles/mixins";
.RecipePane {
  position: relative;
  height: 100%;

  width: 35%;
  perspective: 100px;

  @media (max-width: 400px) {
    width: 95%;
    height: 500px;
    margin: 10px 0px;
  }

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0;

    height: 10%;

    // background-color: #666666;
    // -webkit-background-clip: text;
    // -moz-background-clip: text;
    // background-clip: text;
    // color: transparent;
    color: #666666;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
  }

  & > div {
    height: 90%;
  }

  section {
    background-color: white;
    padding: 5px;
    padding-top: 0px;
    height: 100%;
    overflow-y: auto;
    position: relative;

    border-radius: 5px;

    box-shadow: $d-shadow;
  }
}
