@import "../styles/mixins";

.RecipeExpanded {
  width: 100%;
  padding: 0px 25px 25px 25px;
  position: relative;

  header {
    position: sticky;
    top: 0px;

    margin-bottom: 10px;
    padding: 25px 0px 10px 0px;
    border-bottom: 1px solid $lightgrey;
    background-color: white;
  }

  .buttons {
    & > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0px;
  }

  .cancel {
    position: absolute;
    // float: right;
    z-index: 5;
    top: 10px;
    right: 0px;
  }

  .ingredient {
    list-style: none;
    padding: 10px;
    text-transform: capitalize;

    background-color: #eeeeee;
    &:nth-of-type(even) {
      background-color: #dddddd;
    }
  }
}
