@import "../styles/mixins";

.Recipe {
  width: 90%;

  margin: 3px;

  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: opacity 100ms;
    box-sizing: border-box;

    background: linear-gradient(to right, $highlight-color, white),
      linear-gradient(to top, $highlight-color, white);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  & > div {
    padding: 0.5rem 1rem;
    background-color: $recipe-accent;
  }

  h1 {
    display: inline;
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-right: 5px;
  }

  ul {
    list-style: none;

    padding: 1rem;
  }

  .ingredient {
    text-transform: capitalize;
    margin-left: 1rem;
  }
}
