@import "../styles/mixins";
.RecipeForm {
  padding: 0px 25px 25px 25px;

  position: relative;

  header {
    position: sticky;
    top: 0px;

    margin: 10px 0px;
    padding: 15px 0px;
    border-bottom: 1px solid $lightgrey;
    background-color: white;
  }

  .cancel {
    position: absolute;
    top: 10px;
    right: 0px;
  }

  ol {
    margin-left: 3rem;
  }

  .formErrorMessage {
    width: auto;
    margin: 5px 0px;

    border-radius: 5px;
    padding: 0.5rem;

    background-color: lighten($material-red, 40%);

    color: $material-red;
    text-transform: capitalize;

    .dismiss {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}
