@import "../styles/mixins";
.RecipePane {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: relative;
  height: 100%;
  width: 98%;
  padding: 0 1%;

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0;

    height: 10%;
  }
  & > section {
    height: 90%;
    overflow-y: auto;
    position: relative;
  }
}
