@import "../styles/mixins";
.RecipePane {
  position: relative;
  height: 100%;

  width: 35%;

  @media (max-width: 400px) {
    width: 95%;
    height: 500px;
    margin: 10px 0px;
  }

  & > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem 0;

    height: 10%;
  }

  & > div {
    height: 90%;
  }

  section {
    height: 100%;
    overflow-y: auto;
    position: relative;

    box-shadow: $d-shadow;
  }
}
