@import "../styles/mixins";

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.RecipeForm {
  padding: 0px 25px 25px 25px;

  position: relative;

  header {
    position: sticky;
    top: 0px;

    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid $lightgrey;
    background-color: white;
  }

  .cancel {
    position: absolute;
    top: 10px;
    right: 0px;
  }

  form div {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $lightgrey;
  }

  ol {
    margin-left: 3rem;
  }

  label {
    font-family: "Adamina", sans-serif;
  }

  .formErrorMessage {
    width: auto;
    margin-top: 15px;

    border-radius: 5px;
    padding: 0.5rem;

    background-color: lighten($material-red, 40%);

    color: $material-red;
    animation: animateIn 200ms 0s 1;
    svg {
      margin-right: 5px;
    }

    .dismiss {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}
