@import url("https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,200i,400,600,700i");

@import "./styles/mixins";
@import "./styles/vars";

html {
  @include fluid-type();

  // background: linear-gradient(45deg, $highlight-color, $brand);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";

  // font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  // font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

/* .App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
} */
