@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Adamina:200,200i,400,600,700i");

@import "./styles/mixins";
@import "./styles/vars";

html {
  @include fluid-type();
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Adamina", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Adamina", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

label {
  font-family: "Roboto Condensed", sans-serif;
}

.page-content {
  height: 92vh;
  @media (max-width: 400px) {
    height: auto;
  }
}

.App {
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  background-color: #ffffff;
}
